body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(239, 242, 244, 0.1);
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-align: center;
  color: #0d6efd;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 20px;
}
p {
  line-height: 1.5;
  margin: 0;
}
form {
  margin-bottom: 30px;
}
ul,
li {
  margin: 0;
  padding: 0;
}
footer {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  margin-top: 12px;
}
/*.gradient {
  background: #e7f0fd;
}*/
/*form*/
.weather-today {
  padding: 25px;
}
/*.empty-state {
  display: block;
}
.empty-state-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}*/

/*today weather*/

.city,
.date {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.city {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
.date {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 600;
}
.weather-icon {
  display: block;
  margin: 0 auto 10px auto;
  width: 70px;
  max-width: 80%;
}
.min-max {
  font-size: 12px;
  text-align: center;
  margin: 4px 0;
}
.min,
.max {
  font-weight: bold;
}
.max {
  color: #0d6efd;
}
.min {
  color: #8ab8fd;
}
.temperatur {
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-weight: 700;
}
.units {
  position: relative;
  margin-top: -53px;
  margin-left: 65px;
  margin-bottom: 18px;
}
.temp-unit {
  font-size: 14px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: #0d6efd;
  font-weight: 700;
  text-decoration: none;
}
.unit-selected {
  font-weight: 400;
  color: inherit;
}
.unit-selected:hover {
  cursor: default;
  color: inherit;
}
.feel-temp-today,
.summary-today {
  text-align: left;
  font-size: 12px;
  margin: 0;
}
.summary-today {
  text-transform: capitalize;
}
.today-conditions {
  list-style: none;
}
.today-details {
  text-align: center;
  margin: 8px 2px;
  font-size: 14px;
}
.today-details,
.weather-details {
  line-height: 1.5;
  font-size: 12px;
}
/*next 5 days*/
.weather-details {
  margin: 8px 0 12px 0;
}

.next-days {
  margin-top: 12px;
  font-weight: 600;
}

.temp-next-days {
  text-align: right;
  font-size: 16px;
  margin-top: 12px;
}

.extra-details {
  display: none;
  transition: all 150ms ease-in-out;
}
.collapsible {
  cursor: pointer;
  background-color: #e7f0fd;
}

.collapsible:hover {
  background-color: #d6e6fc;
  color: #000;
  border-color: rgba(0, 0, 0, 0.125);
}
.active {
  transition: all 200ms ease-in-out;
}
.active:hover {
  background-color: #0359d9;
  color: #fff;
}
.max-forecast,
.min-forecast {
  font-weight: 700;
}
.min-forecast {
  opacity: 0.75;
}
